@use "../variables.module" as *;

.footerWrapper {
  padding-bottom: $background-padding;
}

.footer {
  display: flex;
  flex-direction: row;
  // background-color: $primaryColor;
  border-radius: $rad;
  $padding-x: 30px;
  padding: $padding-x;
  padding-left: $padding-x + $background-padding;
  padding-right: $padding-x + $background-padding;
  border: 1px solid $border-color;
  border-right: none;
  border-left: none;
}

.f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.f1 {
  @extend .f;
}

.f2 {
  @extend .f;
  justify-content: flex-end;
  align-items: flex-end;
}

.ytLink {
  color: #fff;
}

@media screen and (max-width: $smallScreenThreshold) {
  .footerWrapper {
    padding-bottom: 10px;
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  .f2 {
    justify-content: flex-start;
  }
}
