@use "../variables.module" as *;

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0;
}

.headerComp {
  z-index: 10;
  background-color: $primaryColor;
  width: 100%;
  $padding-y: 5px;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  $padding-x: 50px;
  padding-left: $padding-x;
  padding-right: $padding-x;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4.849999904632568px);

  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  height: min-content;
  width: fit-content;
  gap: 2px;
  color: white;
  text-decoration: none;
}

.cursorWrapper {
  flex: 1;
  width: 20px;
  padding: 20px;
  padding-left: 0px;
}

.cursor {
  height: 100%;
  width: 20px;
  background-color: white;
  animation: $blinking-animation;
}

.nav {
  $gap: 50px;
  padding-top: $gap;
  padding-bottom: $gap;
  display: flex;
  flex-direction: column;
  gap: $gap;
  color: white;
  text-decoration: none;
  align-items: flex-start;
  justify-content: center;
}

.navLink {
  color: white;
  text-decoration: none;
  width: max-content;
}

.navLink:hover {
  text-decoration: underline;
}

.ddbWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  $padding-y: 10px;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  justify-content: flex-start;
  align-items: center;
}

.dropdownButton {
  font-size: 20px;
}

.dropdownButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.topWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: $smallScreenThreshold) {
  .ddbWrapper {
    display: none;
  }
  .titleWrapper {
    width: fit-content;
  }

  .topWrapper {
    width: fit-content;
  }

  .nav {
    $gap: 0px;
    padding-top: $gap;
    padding-bottom: $gap;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 100px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .navLink {
    color: white;
    text-decoration: none;
  }

  .navLink:hover {
    text-decoration: underline;
  }

  .headerComp {
    display: flex;
    flex-direction: row;
  }
}
