.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  height: 100%;
  position: relative;
  margin: 0;
  gap: 0;
}

.baseCols {
  margin: 0;
  grid-auto-rows: 30px;
  gap: 0;
}

.highlightWrapper {
  @extend .baseCols;
  position: absolute;
  top: 10px;
}

.highlight {
  background-color: white;
  height: 30px;
  width: 100px;
}

.highlight:hover {
  background-color: white;
  opacity: 0.5;
}
