@use "../../variables.module" as *;

.tgContainer {
  padding: 20px;
  background-color: $primaryColor;
  border-radius: $rad;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textTitle {
  padding: 0;
  font-size: 18px;
  font-weight: normal;
}

.text {
  font-size: 18px;
}

.text:focus {
  outline: none;
  border: none;
}
@media screen and (max-width: $smallScreenThreshold) {
  .tgContainer {
    padding: 5px;
  }

  .textTitle {
    padding-left: 20px;
  }

  .text {
    font-size: 14px;
  }
}
