@use "../../variables.module" as *;

.aboutMeWrapper {
  padding-left: $background-padding;
  padding-right: $background-padding;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.tgContainer {
  padding: 20px;
  background-color: $primaryColor;
  border-radius: $rad;
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1000px;
  margin: 0 auto;

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.textTitle {
  padding: 0;
  font-size: 18px;
  font-weight: normal;
}

.text {
  font-size: 18px;
}

.text:focus {
  outline: none;
  border: none;
}
@media screen and (max-width: $smallScreenThreshold) {
  .tgContainer {
    padding: 5px;
  }

  .textTitle {
    padding-left: 20px;
  }

  .text {
    font-size: 14px;
  }
}
