@use "../../variables.module" as *;

.heroWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 10vh;
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.introCont {
  background-color: $primaryColor;
  padding: 40px;
  width: 80vw;
  height: 30vh;
  text-wrap: wrap;
}

.introCont * {
  color: white;
  font-size: 20px;
  text-wrap: wrap;
}

.lineContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.cursor {
  height: 22px;
  width: 12px;
  background-color: white;
}

.cursorAnimation {
  @extend .cursor;
  animation: $blinking-animation;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
