@use "../../variables.module" as *;

.wrapper {
  padding: 30px;
}

.container {
  background-color: $primaryColor;
  border-radius: $rad;
  padding: 30px;
}

.container h2 {
  font-size: 18px;
  padding-bottom: 20px;
}

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

$opacity: 0.3;
.projectBox {
  border-radius: $rad;
  width: auto;
  height: max-content;
  background-color: #1c2128;
  padding: 25px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
}

.imgWrapper {
  display: flex;
  justify-content: center;
}

.linkWrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.projectBox:hover {
  transform: scale(1.02);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

@media screen and (max-width: $smallScreenThreshold) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
