@use "../../variables.module" as *;

.terminal {
  background-color: transparent;
  border-radius: 0;
  padding: 8px 20px 20px 20px;
  height: auto;
  min-height: 300px;
  text-wrap: wrap;
  width: 100%;
  border: none;
  animation: dropIn 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

.terminal * {
  color: white;
  font-size: 16px;
  text-wrap: wrap;
}

.line {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 80vw;
}

.line span {
  white-space: normal;
}

.cursor {
  background-color: white;
}

.cursorAnimation {
  @extend .cursor;
  animation: $blinking-animation;
}

.terminalOutput {
  font-weight: 300;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

@media screen and (max-width: $smallScreenThreshold) {
  .terminal {
    padding: 8px 20px 20px 20px;
  }

  .terminal * {
    color: white;
    font-size: 14px;
    text-wrap: wrap;
  }
}

@media screen and (min-width: $smallScreenThreshold) {
  .terminal {
    min-height: 400px;
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
