@use "../../variables.module" as *;

.terminal {
  background-color: #1c2128;
  border-radius: $rad;
  padding: 40px;
  height: 40vh;
  text-wrap: wrap;
}

.terminal * {
  color: white;
  font-size: 20px;
  text-wrap: wrap;
}

.line {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 80vw;
}

.line span {
  white-space: normal;
}

.cursor {
  height: 22px;
  width: 12px;
  background-color: white;
}

.cursorAnimation {
  @extend .cursor;
  animation: $blinking-animation;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

@media screen and (max-width: $smallScreenThreshold) {
  .terminal {
    padding: 20px;
  }

  .terminal * {
    color: white;
    font-size: 15px;
    text-wrap: wrap;
  }
}

@media screen and (min-width: $smallScreenThreshold) {
  .terminal {
    height: 35vh;
  }
}
