@use "../../variables.module" as *;

.terminalWrapper {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  padding-left: $background-padding;
  padding-right: $background-padding;
}

.terminal {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background-color: $primaryColor;
  border-radius: $rad;
  padding: 40px;
  height: 40vh;
  text-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.terminal * {
  color: white;
  font-size: 20px;
  text-wrap: wrap;
}

.line {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 80vw;
}

.line span {
  white-space: normal;
}

.cursor {
  height: 22px;
  width: 12px;
  background-color: white;
}

.cursorAnimation {
  @extend .cursor;
  animation: $blinking-animation;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

@media screen and (max-width: $smallScreenThreshold) {
  .terminal {
    padding: 20px;
  }

  .terminal * {
    color: white;
    font-size: 15px;
    text-wrap: wrap;
  }
}

@media screen and (min-width: $smallScreenThreshold) {
  .terminal {
    // height: 35vh;
    min-height: 400px;
  }
}
