$darkBackground: #22272e;
$primaryColor: rgba(40, 44, 52, 0.8);
$blinking-animation: cursorAnimation 1.3s steps(1, start) 0s infinite;
$smallScreenThreshold: 1250px;
$rad: 10px;

@keyframes cursorAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
